[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.9"
djangorestframework = "*"
django-environ = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-treebeard = "*"
factory-boy = "*"
django-extensions = "*"
mock = "*"
isort = "*"
pytest-cov = "*"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = "==3.8.0"
WebTest = "==2.0.34"
tox = "*"
coverage = "==5.0.3"
pytest-xdist = "*"
ipython = "*"
flake8 = "*"

[requires]
python_version = "3.5"
