[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.9"
djangorestframework = "*"
django-environ = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-treebeard = "*"

[dev-packages]
pytest = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.5"
